.App {
  text-align: center;
  background-color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* custom styles */
:root
{
    --offcanvas-width: 200px;
    --topNavbarHeight: 40px;
    --transition-collapse: ease 0.5s;
}

.main {
  top: var(--topNavbarHeight);
  left: var(--offcanvas-width);
  position: relative;
}

.navbar {
  height: var(--topNavbarHeight);
  background-color: #282c34 !important;
  color: white !important;
}

.side-bar {
  width: var(--offcanvas-width) !important;
  background-color: #282c34;
  color: white;
}

/* sidebar links */
.sidebar-link
{
  font-size: 20px;
  margin-top: 20px;
}

.sidebar-sub-link
{
  font-size: 16px;
  margin-left: 25px;
}

@media (min-width: 990px)
{
    body {
        overflow: auto !important;
    }

    .main {
      width: calc(100% - var(--offcanvas-width)) !important;
      background-color: grey;
    }

    .side-bar
    {
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
        transition: none !important;
    }
}


.offcanvas {
  border-color: black;
}

p::first-letter {
    text-transform:capitalize;
}

.btn {
  min-width: 50px;
  max-width: 120px;
  margin: auto;
}

.form-control {
  width: 75% !important;
  margin: auto;
}

.form-select {
  width: 75% !important;
  margin: auto;
}

.alert {
  position: fixed;
  z-index: 99;
  width: calc(80% - var(--offcanvas-width));
  opacity: 95%;
  margin-left: 10%;
  margin-top: 4px;
  padding: 8px;
}